example_ngs_pathology_case_findings_001:
  ngs_pathology_case: example_ngs_pathology_case
  raw_finding: 'findings'
  gene:
  variant_name: A Finding
  variant_type: Genomic Signature
  allelic_frequency:
  transcript:
  significance: genomic signature
  status:
  copy_number:
  genomic_signature_result: